<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305715448501-q5hf68b82lu62qj8imu3urivmqcmpklg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305715448501-q5hf68b82lu62qj8imu3urivmqcmpklg</string>
	<key>API_KEY</key>
	<string>AIzaSyCpcS18BP0WDDlyfGtFVGpMlSU71WoocPI</string>
	<key>GCM_SENDER_ID</key>
	<string>305715448501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usingFirebase</string>
	<key>PROJECT_ID</key>
	<string>using-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>using-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305715448501:ios:aee24260c7d40eb2cf0cfc</string>
</dict>
</plist>